body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-image: url(img/fondo.jpg);
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: blue;

}

/* Encabezado */
header {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;


}

/* Menú */
nav {
    margin: 20px;
    position: relative;
    top: 50px;
    z-index: 100;
    background-color: #14ace3;
    
    
}

nav a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 1px;
    z-index: 100;
    
    

}

nav a:hover {
    background-color: #0056b3;
    height: 20px;
}

/* SECCIONES (ESTILO DOS COLUMNAS COMO LA IMAGEN) */
.section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 5px 10% 50px 10%;}

/* Contenedor del texto (Lado Izquierdo) */
.contenido {
    flex: 1;
    max-width: 600px;
    text-align: left; 
    color: #fff;
    z-index: 2;
}

/* Contenedor de Imagen/Informe */
.area-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.area-visual img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 183, 255, 0.2); 
}
.proyectos-grid {
    display: flex;              /* pone todo en línea */
    justify-content: center;    /* centra horizontalmente */
    align-items: center;        /* alinea verticalmente */
    gap: 40px;                  /* espacio entre elementos */
    flex-wrap: wrap;            /* evita que se rompa en pantallas pequeñas */
  }
  
  .proyecto {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  .proyecto img {
    width: 100px;       /* mismo ancho */
    height: 100px;      /* mismo alto */
    object-fit: cover;  /* evita que se deformen */
    display: block;
    margin: 0 auto;
  }
